[File_Paths]
pia_credentials = /pia.cred
pia_client_id = /pia_client_id
transmission_rc = ${TRANSMISSION_HOME}/settings.json
netrc = ~/.netrc

[PIA]
url = https://www.privateinternetaccess.com/vpninfo/port_forward_assignment

[Server]
tun_device = tun0
transmission = transmission-daemon
transmission_uid = 0
transmission_gid = 0
transmission_args = '--logfile /dev/stdout'
openvpn = openvpn
openvpn_gateway = ${OPENVPN_GATEWAY} 