client
dev tun0
proto {{ .Env.OPENVPN_PROTO }}
remote {{ .Env.OPENVPN_GATEWAY }} {{ .Env.OPENVPN_GATEWAY_PORT }}
resolv-retry infinite
nobind
persist-key
persist-tun
ca /certs/pia.crt
tls-client
cipher aes-128-cbc
auth sha1
remote-cert-tls server
auth-user-pass /pia.cred
comp-lzo
reneg-sec 0
crl-verify /certs/pia.pem
log {{ .Env.OPENVPN_LOG }}
verb {{ .Env.OPENVPN_VERB }}
mute {{ .Env.OPENVPN_MUTE }}
{{ path "/" }}
