{{ path .Env.TRANSMISSION_HOME }}{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 50,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": true,
    "blocklist-url": "http://john.bitsurge.net/public/biglist.p2p.gz",
    "cache-size-mb": 20,
    "dht-enabled": true,
    "download-dir": "{{ .Env.DOWNLOAD_DIR }}",
    "download-queue-enabled": {{ .Env.DOWNLOAD_QUEUE_ENABLED }},
    "download-queue-size": {{ .Env.DOWNLOAD_QUEUE_SIZE }},
    "encryption": 1,
    "idle-seeding-limit": 30,
    "idle-seeding-limit-enabled": true,
    "incomplete-dir": "{{ .Env.TRANSMISSION_HOME }}/downloads",
    "incomplete-dir-enabled": true,
    "lpd-enabled": false,
    "message-level": {{ .Env.MESSAGE_LEVEL }},
    "peer-congestion-algorithm": "",
    "peer-id-ttl-hours": 6,
    "peer-limit-global": {{ .Env.PEER_LIMIT_GLOBAL }},
    "peer-limit-per-torrent": {{ .Env.PEER_LIMIT_PER_TORRENT }},
    "peer-port": {{ .Env.PEER_PORT }},
    "peer-port-random-high": 51234,
    "peer-port-random-low": 51234,
    "peer-port-random-on-start": false,
    "peer-socket-tos": "default",
    "pex-enabled": true,
    "port-forwarding-enabled": true,
    "preallocation": 1,
    "prefetch-enabled": false,
    "queue-stalled-enabled": {{ .Env.QUEUE_STALLED_ENABLED }},
    "queue-stalled-minutes": {{ .Env.QUEUE_STALLED_MINUTES }},
    "ratio-limit": {{ .Env.RATIO_LIMIT }},
    "ratio-limit-enabled": {{ .Env.RATIO_LIMIT_ENABLED }},
    "rename-partial-files": true,
    "rpc-authentication-required": false,
    "rpc-bind-address": "0.0.0.0",
    "rpc-enabled": true,
    "rpc-password": "{{ .Env.RPC_PASSWORD }}",
    "rpc-port": {{ .Env.RPC_PORT }},
    "rpc-url": "/transmission/",
    "rpc-username": "{{ .Env.RPC_USERNAME }}",
    "rpc-whitelist": "127.0.0.1,192.168.*.*,10.*.*.*,172.*.*.*",
    "rpc-whitelist-enabled": true,
    "scrape-paused-torrents-enabled": true,
    "script-torrent-done-enabled": {{ .Env.COMPLETED_SCRIPT_ENABLED }},
    "script-torrent-done-filename": "/usr/local/bin/completed.sh",
    "seed-queue-enabled": {{ .Env.SEED_QUEUE_ENABLED }},
    "seed-queue-size": {{ .Env.SEED_QUEUE_SIZE }},
    "speed-limit-down": {{ .Env.SPEED_LIMIT_DOWN }},
    "speed-limit-down-enabled": {{ .Env.SPEED_LIMIT_DOWN_ENABLED }},
    "speed-limit-up": {{ .Env.SPEED_LIMIT_UP }},
    "speed-limit-up-enabled": {{ .Env.SPEED_LIMIT_UP_ENABLED }},
    "start-added-torrents": true,
    "trash-original-torrent-files": true,
    "umask": 0,
    "upload-slots-per-torrent": {{ .Env.UPLOAD_SLOTS_PER_TORRENT }},
    "utp-enabled": true,
    "watch-dir": "{{ .Env.WATCH_DIR }}",
    "watch-dir-enabled": {{ .Env.WATCH_DIR_ENABLED }}
}
